<p>Hi <%= @task.project.client.name %>,<br>

	The task (<%= @task.title %>) belonging to  <%= @task.project.name %> has been completed. It was due on <%= @task.due_date.to_date %> <br>

	Regards,<br>
	Team Taskbox <br>
	<!-- A css/image can be attached here -->

</p>
