<h1>Hello World</h1>
<a href="/say/goodbye">Say Goodbye</a> |

<%= link_to "Say Goodbye by Ruby", say_goodbye_path %> |
<%= link_to "Say Goodbye by Ruby without methods (URI)", "/say/goodbye" %> <br>

<%= link_to "Listing Products", say_products_path %> |

