<p>Hi <%=  %>,<br>


	There is a new announcement! (<%= @announcement.title %>) You can now refer people and get a discount! Start refering now! <%= @announcement.body %> <br>
	Regards,<br>
	Team Taskbox <br>
	<!-- A css/image can be attached here -->

</p>
